.section {
  padding: 140px 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}